* {
    box-sizing: border-box;
  }
  
body {
    margin: 0px;
}

.entete {
    padding: 40px;
    text-align: center;
    background-image: url('../img/background_entete.jpg');
    background-position: 0px -700px;
    color: white;
}

.menu-conteneur {
    display: flex;
    background-color: #4c1d31;
}

.menu-lien {
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.menu-lien:hover {
    background-color: #873559;
}

#conteneur-principale {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 20px;
    grid-template-areas: 
        "presentation articles"
        "btnfull btnreduct";
    gap: 10px;
    padding: 10px;
}

.presentation {
    grid-area: presentation;
    padding: 20px;
    background-color: #d07b80;
    border-radius: 10px;
    height: 350px;
}

.image-presentation {
    width: 100%;
}

#conteneur-article {
    grid-area: articles;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.justify {
    text-align: justify;
}

article {
    padding: 20px;
    background-color: #d07b80;
    border-radius: 10px;
}

.article_image {
    width: 100%;
    background-color: gray;
    color: white;
    padding: 20px;
}

footer {
    padding: 10px;
    background-color: #4c1d31;
    color: white;
    text-align: right;
}

#btnpage1{
    grid-area: btnfull;
    display: flex;
}

#btnmeme{
    /* Comment Changer couleur grandeur etc */
}

/* Les règles seront executées si l'appareil doté d'un écran
possède une résolution inferieure a 760px (conditions) */
@media screen and (max-width: 760px){
    .menu-conteneur{
        flex-direction: column;
    }
    .presentation{
        display: none;
    }
    #conteneur-principale{
        grid-template-columns: 4fr;
    }
    #btnpage1{
        grid-area: btnreduct;
        flex-direction: row-reverse;
    }
}